.image-uploader {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border: none;
  width: 100%;

  &__image-file {
    width: 25px;
    height: 25px;
    align-self: center;
  }

  input {
    border: none;
    text-overflow: ellipsis;
    padding-left: 0;
    background-color: transparent;
    width: 140px;
  }

  p-button {
    cursor: pointer;
  }

  label {
    cursor: pointer;
  }
}

@media screen and (max-width: 600px) {
  .image-uploader {
    gap: 25px;

    input {
      display: none;
    }
  }
}
