<ng-container *ngIf="isAddDocumentDialogOpened">
  <app-honey-dialog
    [visible]="isAddDocumentDialogOpened"
    [headerText]="'Add your license'"
    (dialogClosed)="dialogClosed.emit()">
    <ng-container *ngTemplateOutlet="uploader"></ng-container>
  </app-honey-dialog>

  <ng-template #uploader>
    <form [formGroup]="uploadForm">
      <div class="">
        <label for="expirationDate">{{'Expiration date'}}</label>
        <input [formControlName]="'expirationDate'" id="expirationDate">
      </div>
      <div>
        <label for="description">{{'Description'}}</label>
        <textarea [formControlName]="'description'" id="description"></textarea>
      </div>
      <app-honey-uploader [formControlName]="'license'"></app-honey-uploader>
    </form>
    <p-button [label]="'Submit'"
              [disabled]="uploadForm.invalid"
              (onClick)="handleSubmit()"
              type="submit"></p-button>
  </ng-template>
</ng-container>
