<p-card *ngIf="licence" header="{{ 'Driver licence' }}">
  <div class="honey-item">
    <div class="honey-item__content">
      <img
        class="honey-item__content__copy"
        src="{{ licence.licenseCopy.content }}"
        alt=""
      />
      <div class="honey-item__content__texts">
        <div>
          {{ "Expiration date: "
          }}{{ licence.expirationDate | date : "dd/MM/yyyy" }}
        </div>
        <div>{{ "Description: " }}{{ licence.description }}</div>
      </div>
    </div>
    <div class="honey-item__button">
      <p-button
        label="{{ 'Delete' }}"
        icon="pi pi-trash"
        styleClass="p-button-secondary"
        (onClick)="deleteLicence()"
      ></p-button>
    </div>
  </div>
</p-card>
